# Visual Studio
.vs/
.vscode/
*.user
*.suo

# Build results
bin/
obj/

# NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Secrets
secrets.json

# User-specific files
*.rsuser
*.userosscache
*.sln.docstates

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# dotenv
.env
